*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*  1 rem = 10 px */
}

body {
  font-family: sans-serif;
}

@media (min-width: 320px) {
  html {
    font-size: 32.5%; /*  1 rem = 10 px */
  }
}

@media (min-width: 480px) {
  html {
    font-size: 42.5%; /*  1 rem = 10 px */
  }
}

@media (min-width: 641px) {
  html {
    font-size: 50.5%; /*  1 rem = 10 px */
  }
}
